<h1><%= t('menu.about') %></h1>

<p1>

  At NestFinder, we're on a mission to revolutionize the way people buy, sell, and rent properties. Tired of unnecessary middlemen and hefty brokerage fees, we set out to create a platform that puts the power back into your hands. Our app connects homeowners, buyers, and renters directly, making real estate transactions simpler, more transparent, and hassle-free.
  <br>
  <br>

  With a focus on ease of use and security, NestFinder provides a comprehensive set of tools to list properties, find your dream home, and close deals — all without the need for a broker. Whether you're searching for a cozy apartment or putting your property up for sale, we've got you covered.
  <br><br>

  We believe in transparency, fairness, and efficiency. That's why our app features powerful search filters, real-time updates, and secure communication channels, ensuring that you have everything you need to make informed decisions.
  <br><br>

  Join us on our journey to make property transactions smoother, faster, and broker-free!
  <br><br>

  <h3><%= t('custom.contact') %></h3>
  <br>
  <p1>In case you have any questions, suggestions or if you just want to have a general talk with us. You can reach out to us by any of the below means:</p1>
  <br><br>
  <p1>hello@nestfinder.com</p1>
  <br>
  <p1>123456789</p1>
</p1>