<h1>NestFinder</h1>
<p><%= t('home.tagline') %> </p>

<div>
  <%= form_with url: properties_path, method: :get, local: true, class: "form-inline my-2 my-lg-0" do %>
    <%= text_field_tag :query, params[:query], placeholder: t('home.search'), class: "form-control mr-sm-2", style: "width: 400px;" %>
    <%= submit_tag t('action.search'), class: "btn btn-outline-success my-2 my-sm-0" %>
  <% end %>
</div>

