<h1>You have a new inquiry about your property!</h1>

<p>Property: <%= @property.title %></p>

<p><strong>Message:</strong></p>
<p><%= @message %></p>

<p>Contact the sender at: <%= @sender_email %></p>
